
<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <title>Alans Quiz Website!</title>
  </head>
  <body>
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" disabled>
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'home' %}>Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href={% url 'generalknowledge' %}>General Knowledge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'history' %}>Junior General Knowledge</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href={% url 'about' %}>About The Site</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/scene1.jpg" class="d-block w-100 h-50"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/scene2.jpg" class="d-block w-100 h-50"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/scene3.jpg" class="d-block w-100 h-50"  alt="...">
    </div>
    <div class="carousel-item">
      <img src="static/images/scene4.jpg" class="d-block w-100 h-50"  alt="...">
    </div>


  </div>
</div>


<div class= "container">
      <center>
        <h6>Scenes From Around Ireland</h6>
      <center/>
  
	<h2><strong>Welcome to the Quiz Page <strong/></h2>

	<h4>This is just a beginner project to help me learn coding in a practical way.</h4>
	<h5>
		I have endeavored to check the accuracies of the answers,however this project has a team of one.
    <br/>
    It is possible I have made some mistakes!
    <br/>  <br/>
    The next version will have a feedback section which may "Help you to Help me".
    <br/> <br/> 
    I hope you enjoy the quiz and remember it's just for fun.
	<h5/>
  


 <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>

 